//Couleurs
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-tertiary: #525252;
$bg: #fafafa;
$bg-secondary: #db8876;

// media queries breakpoints

$breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 600px,
);
