.profile-image {
  object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.25);
}

.profile-name {
  color: $color-secondary;
  font-weight: normal;
}

.profile-location {
  color: $color-primary;
}
